/* =========================================================
   Reset and global defaults
   ========================================================= */

   * {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #f0f5f2;
  }
  
  html {
    background-size: cover;
    font-size: 24px;
  }
  
  body {
    background-color: #343434;
    overflow-x: hidden;
  }
  
  /* =========================================================
     Core layout
     ========================================================= */
  
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    outline: none;
  }
  
  main {
    height: 100dvh;
    position: relative;
  }
  
  /* =========================================================
     Typography
     ========================================================= */
  
  h1 {
    font-size: 5.2rem;
    margin-bottom: 0rem;
    line-height: 5rem;
  }
  
  h2 {
    font-size: 2.1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    line-height: 35px;
    font-weight: 500;
  }
  
  .bottom {
    font-size: 1rem;
    margin: 0;
    font-weight: 700;
    line-height: 2rem;
    text-align: right;
  }
  
  /* =========================================================
     Buttons and navigation
     ========================================================= */
  
  .nav-button {
    display: inline-block;
    padding: 0.25rem 0.8rem;
    margin-left: 0.8rem;
    background: transparent;
    border: 1px solid #aaa;
    color: #f0f5f2;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.55s;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background: #f0f5f2;
    color: #494646;
    border: 1px solid #494646;
  }
  
  button {
    padding: 0.25rem 0.8rem;
    margin-left: 0.8rem;
    background: transparent;
    border: 1px solid #aaa;
    color: #f0f5f2;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.55s;
  }
  
  button:hover {
    background: #f0f5f2;
    color: #494646;
    border: 1px solid #494646;
  }
  
  /* =========================================================
     Absolute / overlay layout elements
     ========================================================= */
  
  #wrapper {
    position: absolute;
    width: 100vw;
    height: 200vh;
    z-index: 100;
    justify-content: center;
    font-size: 4rem;
    margin-top: 70px;
  }
  
  #top {
    position: absolute;
    top: 20%;
    left: 7%;
  }
  
  #player {
    /* background:green; */
    position: absolute;
    right: 7%;
    top: 9%;
  }
  
  #menu {
    /* background:green; */
    position: absolute;
    right: 7%;
    bottom: 9%;
  }
  
  #footer {
    position: relative;
    bottom: 1%;
    margin: 0;
    /* background: gray; */
    position: absolute;
    right: 7%;
  }
  
  /* =========================================================
     Lists
     ========================================================= */
  
  ul li {
    display: inline-block;
    margin: auto;
    text-align: justify;
  }
  
  ul li a {
    padding: 0;
    font-size: 20px;
    margin: 0;
  }
  
  /* =========================================================
     Responsive: width ≤ 790px
     ========================================================= */
  
  @media only screen and (max-width:790px) {
  
    h1 {
      font-size: 4.2rem;
      margin-bottom: 0rem;
      line-height: 5rem;
    }
  
    h2 {
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  
    button {
      padding: 0.20rem 0.6rem;
      margin-left: 0.6rem;
      font-size: 1rem;
    }
  
    .bottom {
      font-size: 0.8rem;
      margin: 0;
      font-weight: 600;
      line-height: 1.8rem;
    }
  
    .nav-button {
      padding: 0.20rem 0.6rem;
      margin-left: 0.6rem;
      font-size: 1rem;
    }
  }
  
  /* =========================================================
     Responsive: width ≤ 630px
     ========================================================= */
  
  @media only screen and (max-width:630px) {
  
    h1 {
      font-size: 2.8rem;
      margin-bottom: 0rem;
      line-height: 3rem;
    }
  
    h2 {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  
    button {
      padding: 0.1rem 0.14rem;
      margin-left: 0rem;
      font-size: 0.8rem;
    }
  
    .bottom {
      font-size: 0.6rem;
      font-weight: 500;
      line-height: 1rem;
    }
  
    .nav-button {
      padding: 0.1rem 0.14rem;
      margin-left: 0rem;
      font-size: 0.8rem;
    }
  
    #player {
      position: absolute;
      right: 7%;
      top: 7%;
    }
  
    #menu {
      position: absolute;
      right: 7%;
      bottom: 7%;
    }
  
    ul li {
      margin-left: 4px;
    }
  }
  
  /* =========================================================
     Responsive: height ≤ 500px
     ========================================================= */
  
  @media only screen and (max-height:500px) {
  
    h1 {
      font-size: 2.2rem;
    }
  
    h2 {
      font-size: 1.0rem;
    }
  
    button {
      font-size: 0.7rem;
    }
  
    .bottom {
      font-size: 0.4rem;
    }
  
    .nav-button {
      font-size: 0.7rem;
    }
  
    ul {
      padding-bottom: 10px;
    }
  }
  
